    What are the trends in the underlying data?
    Which customer segment has the highest customer value?
    What do you propose should be Sprocket Central Pty Ltd â€™s marketing and growth strategy?
    What additional external datasets may be useful to obtain greater insights into customer preferences and propensity to purchase the products?

In [1]:
#invite people for the Kaggle party
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
customers = pd.read_csv('new_customers_update.csv')

In [5]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gender                               715 non-null    int64
 1   past_3_years_bike_related_purchases  715 non-null    int64
 2   DOB                                  715 non-null    object
 3   job_title                            715 non-null    object
 4   job_industry_category                715 non-null    int64
 5   wealth_segment                       715 non-null    int64
 6   deceased_indicator                   715 non-null    object
 7   owns_car                             715 non-null    int64
 8   tenure                               715 non-null    int64
 9   address                              715 non-null    object
 10  postcode                             715 non-null    int64
 11  state                                715 non-null    int64
 12  country                              715 non-null    object
 13  property_valuation                   715 non-null    float64
 14  Unnamed: 16                          715 non-null    float64
 15  Unnamed: 17                          715 non-null    float64
 16  Unnamed: 18                          715 non-null    float64
 17  Unnamed: 19                          715 non-null    float64
 18  Unnamed: 20                          715 non-null    int64
 19  Rank                                 715 non-null    int64
 20  Value                                715 non-null    float64
 21  name                                 715 non-null    object
dtypes: float64(6), int64(10), object(6)
memory usage: 123.0+ KB

In [6]:
transactions = pd.read_csv('transactions_ordered.csv')

In [8]:
customerDemographic = pd.read_csv('customerDemographic.csv')

In [15]:
customerAddress = pd.read_csv('customerAddress.csv')

In [11]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 2.0+ MB

In [12]:
customerDemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: float64(1), int64(2), object(10)
memory usage: 406.4+ KB

In [16]:
customerAddress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB