In [1]:
#invite people for the Kaggle party
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv('transactions_ordered.csv')

In [3]:
df.nunique()

transaction_id             20000
product_id                   101
customer_id                 3494
transaction_date             364
online_order                   2
order_status                   2
brand                          6
product_line                   4
product_class                  3
product_size                   3
list_price                   296
standard_cost                103
product_first_sold_date      100
dtype: int64

In [4]:
df.size

260000

transaction_id             20000

customer_id                 3494

product_id                   101

product_first_sold_date      100

df.size 260000

In [7]:
df['online_order'].value_counts()

True     9829
False    9811
Name: online_order, dtype: int64

In [8]:
df['order_status'].value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

In [9]:
df['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

online orders are 50/50 

product lines:

    - standard 14176
    - road 3970
    - touring 1234
    - mountain 423
    
brands: 

    - Solex             4253
    - Giant Bicycles    3312
    - WeareA2B          3295
    - OHM Cycles        3043
    - Trek Bicycles     2990
    - Norco Bicycles    2910
    
product class:

    - medium 13826
    - high 3013
    - low 2964
    
product size:

    - medium 12990
    - large 3976
    - small 2837

In [27]:
df['product_line'].value_counts().sum()

19803

In [28]:
df['product_size'].value_counts(normalize=True)

medium    0.655961
large     0.200778
small     0.143261
Name: product_size, dtype: float64

In [25]:
df['product_class'].value_counts(normalize=True)

medium    0.698177
high      0.152149
low       0.149674
Name: product_class, dtype: float64

In [24]:
df['product_line'].value_counts(normalize=True)

Standard    0.715851
Road        0.200475
Touring     0.062314
Mountain    0.021360
Name: product_line, dtype: float64

In [20]:
# 2% of sales is the mountain bike
# 71.59% of sales is standard bike

70% of bikes sold are of the medium product class

66% of bikes sold are of the medium product size

In [10]:
df['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [11]:
df['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [12]:
df['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [5]:
cusotmers = df['customer_id'].value_counts()

In [6]:
cusotmers

2476    14
2183    14
1068    14
1672    13
2548    13
        ..
3161     1
1325     1
1529     1
2807     1
2525     1
Name: customer_id, Length: 3494, dtype: int64

In [ ]:
mults = []

for i in cusotmers:
    if (i >= 5):
        mults.append(i)

In [ ]:
len(mults)

2383 customers buy 5 or more products

In [ ]:
mult = []

for i in cusotmers:
    if (i > 1):
        mult.append(i)

In [ ]:
len(mult)

In [ ]:
20000 - 3445

3445 customers bought more than 1 product

16555 customers boutght only 1 product

In [ ]:
df.info()

In [ ]:
df.nunique()

In [ ]:
df["product_size"] = df["product_size"].astype("category").cat.codes

In [ ]:
df["product_class"] = df["product_class"].astype("category").cat.codes

In [ ]:
df["product_line"] = df["product_line"].astype("category").cat.codes

In [ ]:
df["brand"] = df["brand"].astype("category").cat.codes

In [ ]:
df["order_status"] = df["order_status"].astype("category").cat.codes

In [ ]:
df["online_order"] = df["online_order"].astype("category").cat.codes

In [ ]:
df.info()

In [ ]:
df

In [ ]:
trans_date = df['transaction_date']

In [ ]:
noyear = []

for i in trans_date:
    noyear.append(i[0:-3])

In [ ]:
noyear

In [ ]:
day = []
month = []

for i in noyear:
    if(i[-2] == '/'):
        month.append(i[0:-2])
        day.append(i[-1:])
    elif (i[-3] == '/'):
        month.append(i[0:-3])
        day.append(i[-2:])

In [ ]:
day

In [ ]:
df['day']= day

In [ ]:
df['month']= month

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df['day'] = df['day'].astype('int')

In [ ]:
df['month'] = df['month'].astype('int')

In [ ]:
df.info()

In [ ]:
corr = df.corr()
sns.heatmap(corr, cmap="Blues", annot=True)

In [ ]:
corr = df.corr()
sns.heatmap(corr, cmap="Blues")

In [ ]:
cost = df['standard_cost']

In [ ]:
df.describe()